<mat-accordion multi="true" *ngIf="houses.length>0">
  <mat-expansion-panel *ngFor="let house of houses ">
    <mat-expansion-panel-header>
        {{house.adress}}
    </mat-expansion-panel-header>
    <p> {{house.Address}}</p>
    <p> {{house.County}}</p>
    <p> {{house.DateofSale}}</p>
    <p> {{house.Price}}</p>
    <!-- <p> {{house.DescriptionofProperty}}</p> -->
    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p> *ngIf="houses.length<=0">No houses returned yet!</p>

