.row1 {
  margin-top: 50px;
  display: block;
}

.row2 {
  margin-top: 1px;
  display: block;
}


.county {
  padding-right: 40px;
}

.property {
  padding-right: 40px;
}


.date {
  margin-top: 100px;
}




