.form-fields {
  text-align: center;
}

.card {
  background-color: grey;
}

.county {
  padding-top: 20px;
}

.priceFrom {
  padding-top: 15px;
  padding-right: 15px;
}

.address {
  width: 70;
}






