.searchOptions{
  text-align: center;
  padding-bottom: 15px;
}

.form-fields {
  text-align: center;
}

.card {
  background-color: grey;
  margin: 0 auto;
  width: 20%;
}

.county {
  padding-top: 20px;
}

.priceFrom {
  padding-top: 15px;
  padding-right: 15px;
}

.address {
  text-align: center;
}






